* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(47, 88%, 63%);
    font-size: calc(0.75em + 1rmin);
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
    padding: 10px;
}
.container {
    background-color: white;
    width: 370px;
    height: 580px;
    box-shadow: 10px 10px;
    border-radius: 20px;
 
}
.container:hover {
  box-shadow: 1rem 1rem;
  transition: box-shadow 0.3s ease;
  border: 0.09375rem solid black;
}
.container img{
    margin-top: 30px;
    margin-left: 25px;
    width: 85%;
    height:auto;
    
  }

  .category {
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 12px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 4px;
    color: hsl(0, 0%, 7%);
    font-family: 'Figtree',  sans-serif;
    font-weight: 800;
    box-sizing: content-box;
    width: 90px;
    text-align: center;
    border-style: 3px solid;
    border-color: hsl(0, 0%, 7%);
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  }
  .date {
    margin-left: 25px;
    margin-top: 20px;
    font-family: 'Figtree',  sans-serif;
    color: hsl(0, 0%, 7%);
    font-size: 15px;
  }

  h1 {
    margin-left: 25px;
    font-family: 'Figtree',  sans-serif;
    margin-top: 20px;
    color: hsl(0, 0%, 7%) ;
    font-size: clamp(1.3rem, 1.26rem + 0.19999999999999996vw, 1.5rem);
    cursor: pointer;
    font-weight: bold ;
  }
  h1:hover {
    color: hsl(47, 88%, 63%);
  }
  
  a,a:visited,a:active {
    text-decoration: none;
    color: hsl(0, 0%, 7%);
  }
  p {
    color: hsl(0, 0%, 42%);
    font-family: 'Figtree',  sans-serif;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  }

.greg {
    width: 200px;
  }
.greg img{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -1px;
}
.greg h3 {
    float: right;
    margin-top: 10px;
    font-family: 'Figtree',  sans-serif;
}
